@charset 'utf-08';

@font-face {
    font-family: 'Pretendard';
    src: url('font/pretendard/Pretendard-Regular.eot');
    src: url('font/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('font/pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/pretendard/Pretendard-Bold.eot');
    src: url('font/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('font/pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/pretendard/Pretendard-ExtraBold.eot');
    src: url('font/pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('font/pretendard/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

:root {
    --basic-fontStyle: 'Pretendard';
    --effect-fontStyle: 'SUITE';
    --mainColor: #1AA69D;
    --section-navMainColor: #DFF4EA;
    --section-navColor: #F4F4F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

html {
    font-size: 62.5%;
    /* 10px = 1rem */

    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    color: #333;
    line-height: 1;
    font-size: 1.6rem;
    font-family: var(--basic-fontStyle);
}

main .inner {
    max-width: 1280px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.title h2 {
    font-size: 4rem;
    font-weight: 800;
}

.more_btn a {
    display: flex;
    gap: 10px;
    align-items: center;
}

.more_btn span {
    display: block;
    color: #00C7AE;
    font-size: 16px;
}

.more_btn .img {
    width: 24px;
}

.mobile {
    display: none;
}

.mobile2 {
    display: none;
}

.btn_bottom {
    display: none;
}

.white {
    display: none;
}

/******** header ********
************************/
.header {
    height: 12rem;
    position: relative;
    margin-bottom: 10px;
    z-index: 50;
}

.header .inner {
    max-width: 1280px;
    width: calc(100% - 60px);
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .left {
    height: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
}

.header .left .logo {
    z-index: 100;
}

.header .pc_nav {
    height: 100%;
}

.header .pc_nav::before {
    content: '';
    width: 100%;
    height: 290px;
    background-color: #fff;
    border-bottom: 1px solid var(--mainColor);

    position: absolute;
    top: 120px;
    left: 0;

    display: none;
}

.header .pc_nav:hover::before {
    display: block;
}

.header .pc_nav .gnb {
    display: flex;
}

.header .pc_nav .gnb>li {
    position: relative;
}

.header .pc_nav .gnb>li .depth01 {
    display: block;
    padding: 0 40px;
    line-height: 120px;

    position: relative;
}

.header .pc_nav .gnb>li::before {
    content: '';
    width: 100%;
    height: 410px;
    background-color: var(--mainColor);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -290px;
    opacity: 0;
    transition: 0.5s;
}

.header .pc_nav .gnb>li:hover::before {
    top: 0px;
    opacity: 1;
}

.header .pc_nav .gnb>li:hover {
    color: #fff;
}

.header .pc_nav .gnb>li .depth02 {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    text-align: center;

    display: none;
}

.header .pc_nav:hover .gnb>li .depth02 {
    display: block;
}

.header .pc_nav .gnb>li .depth02 li a {
    display: block;
    padding: 15px 10px;
    position: relative;
}

.header .pc_nav .gnb>li .depth02 li a::before {
    content: '';
    width: 0;
    height: 1px;
    background-color: #fff;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    transition: 0.5s;
}

.header .pc_nav .gnb>li .depth02 li a:hover::before {
    width: calc(100% - 30px);
}

.header .pc_util {
    display: flex;
    gap: 20px;
}

.header .pc_util span {
    font-size: 15px;
}

/******** main_nav ********
**************************/
.main_nav {
    margin-bottom: 50px;
}

.main_nav .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


.main_nav .inner .item {
    text-align: center;
}

.main_nav .inner .item img {
    width: 44px;
    margin-bottom: 5px;
}

/******** main_visual ********
*****************************/
.main_visual {
    max-height: 700px;
    /* height: 36.45vw; */
    max-width: 1920px;
    margin: 0 auto 15rem;

    display: flex;
}

.main_visual .left {
    width: 50%;
    /* height: 36.45vw; */
    max-height: 700px;
    position: relative;
}

.main_visual .left figure {
    width: 100%;
    height: 100%;
}

.main_visual .left figure img {
    width: 100%;
    height: 100%;
}

.main_visual .left .content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 120px;
    left: 0;
}

.main_visual .left .content h2 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 80px;
    padding: 0 10px;
    word-break: keep-all;
    line-height: 1.3;
}

.main_visual .left .content .search {
    width: 73.99%;
    margin: 0 auto;
    height: 50px;

    position: relative;
}

.main_visual .left .content .search input {
    width: 100%;
    height: 100%;

    padding: 0 50px;
    border: 0;
    background-color: #F2F2F2;
    border-radius: 6px;
}

.main_visual .left .content .search img {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}


.main_visual .right {
    width: 50%;
    /* height: 36.45vw; */
    max-height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.main_visual .right .item {
    width: 50%;
    /* height: 18.22vw; */
    max-height: 350px;
    background-color: #DDFFF7;
}

.main_visual .right .item:nth-child(2) {
    background-color: #EBF6FB;
}

.main_visual .right .item:nth-child(3) {
    background-color: #FFFCDD;
}

.main_visual .right .item:nth-child(4) {
    background-color: #DDFFED;
}

.main_visual .right .item .content {
    margin: 0 40px;
    /* word-break: keep-all; */
    display: flex;
    height: 100%;
    align-items: center;
}

.main_visual .right .item .content a {
    
}

.main_visual .right .item .content a img {}

.main_visual .right .item .content a h3 {
    margin-top: 30px;
    font-size: 3rem;
}

.main_visual .right .item .content a p {
    margin-top: 20px;
    line-height: 1.3;
    /* word-break: keep-all; */
}



/******** guide ********
************************/
.guide {
    margin-bottom: 15rem;
}


.guide .title h2 {
    width: 100%;
    text-align: center;
}

.guide .title .more_btn {
    display: none;
}

.guide .content {
    display: flex;
    justify-content: space-between;
}

.guide .content .item {
    width: 49%;
    max-height: 626px;
    height: 49vw;
    padding: 6% 0 0;
    background-color: #EAFAF9;
    text-align: center;
    overflow: hidden;
}

.guide .content .item.master {
    background-color: #fff;
    border: 2px solid #EAFAF9;
}

.guide .content .item a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.guide .content .item a .text h3 {
    text-align: center;
    margin-bottom: 15%;
    font-size: 30px;
    line-height: 33px;
}

.guide .content .item a .text .text_box {
    position: relative;
}

.guide .content .item a .text .text_box img {
    width: 26rem;
    height: 8rem;
}

.guide .content .item a .text .text_box strong {
    position: absolute;
    top: 31%;
    left: 0;
    transform: translateY(-31%);
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    color: var(--mainColor);
    word-break: keep-all;
    line-height: 1.2;
}

.guide .content .item.master a .text .text_box strong {
    color: #fff;
}

.guide .content .item a figure {
    width: 320px;
}

.guide .content .item a figure img {
    width: 100%;
    height: 100%;
}

/* 숨고 인기 서비스 */
.service {
    margin-bottom: 15rem;
}

.service .swiper-slide {
    width: 24%;
    max-height: 270px;
    height: 19.53vw;
}

.service .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
}

.service .swiper-slide a .img_box {
    width: 100%;
    height: 78.8%;
    border-radius: 25px 25px 0 0;
    overflow: hidden;

    position: relative;
}

.service .swiper-slide a .img_box figure::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.service .swiper-slide a .img_box figure {
    width: 100%;
    height: 100%;
}

.service .swiper-slide a .img_box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service .swiper-slide a .img_box strong {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: #fff;
    width: 100%;
    text-align: center;

    font-size: 2.2rem;

}

.service .swiper-slide:hover a .people {
    border: 2px solid var(--mainColor);
    border-top: 0px;
}

.service .swiper-slide:hover a .img_box figure {
    transform: scale(1.1);
    transition: 0.5s;
}

.service .swiper-slide a .people {
    width: 100%;
    height: 21.2%;
    border-radius: 0 0 25px 25px;
    border: 2px solid var(--section-navColor);
    border-top: 0;
    /* text-align: center; */

    display: flex;
    gap: 5px;
    justify-content: center;
}

.service .swiper-slide a .people img {
    width: 20px;
}

.service .swiper-slide a .people p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.service .swiper {
    position: static;
}

.service .inner .content {
    position: relative;
}

.service .swiper_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 6.5rem;
    width: 100%;
    z-index: 99;
}

.service .swiper-button-next,
.service .swiper-button-prev {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    border: 1px solid rgb(26, 166, 157, 0.3);
    background: url('../img/icon-prev.svg') center center / 40px no-repeat #fff;
    left: -30px;
    top: 22px;
}

.service .swiper-button-next {
    background-image: url('../img/icon-next.svg');
    left: auto;
    right: -30px;
}

.service .swiper-button-next:hover,
.service .swiper-button-prev:hover {
    background-color: #EAFAF9;
}

.service .swiper-button-next::after,
.service .swiper-button-prev::after {
    display: none;
}

/* master */
.masterSection {
    margin-bottom: 15rem;
}

.masterSection .nav {
    display: flex;
    gap: 20px;
    margin-bottom: 3.5rem;
}

.masterSection .nav li:first-child a {
    background-color: #DFF4EA;
    color: var(--mainColor);
}

.masterSection .nav li a {
    display: block;
    padding: 15px 20px;
    border-radius: 50px;
    background-color: var(--section-navColor);
    font-size: 1.8rem;
}

.masterSection .nav li:hover a {
    background-color: var(--section-navMainColor);
    color: var(--mainColor);
}

.masterSection .item_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.masterSection .item_wrap .item {
    width: 24%;
    max-height: 405px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;

    /* padding: 20px; */
}

.masterSection .item_wrap .item:hover {
    border: 2px solid #00A18D;
}

.masterSection .item_wrap .item:hover .content a figure img {
    transform: scale(1.1);
    transition: 0.5s;
}

.masterSection .item_wrap .item .content {
    text-align: center;
    margin: 20px auto;
}



.master .item_wrap .item .content a {}

.masterSection .item_wrap .item .content a figure {
    max-width: 169px;
    width: 65.25%;
    max-height: 169px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.masterSection .item_wrap .item.pay .content a figure::before {
    content: '';
    width: 72px;
    height: 22px;
    background: url('../img/숨고페이-full.svg') center center / 100% no-repeat;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 99;
}

.masterSection .item_wrap .item .content a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.masterSection .item_wrap .item .content a .text {
    margin-top: 30px;
}

.masterSection .item_wrap .item .content a .text h3 {
    font-size: 2.2rem;
    margin-bottom: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.masterSection .item_wrap .item .content a .text h3::after {
    content: '';
    width: 100%;
    height: 10px;
    background-color: #CFF3E9;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;

    opacity: 0;
    transition: 0.3s;
}

.masterSection .item_wrap .item:hover .content a .text h3::after {
    opacity: 1;
}


.masterSection .item_wrap .item .content a .text ul {}

.masterSection .item_wrap .item .content a .text ul li {
    margin-top: 8px;
    display: inline-block;
    padding-left: 20px;
}

.masterSection .item_wrap .item .content a .text ul li:first-child {
    margin-top: 0;
}

.masterSection .item_wrap .item .content a .text ul li.year,
.masterSection .item_wrap .item .content a .text ul li.locate {
    position: relative;
}


.masterSection .item_wrap .item .content a .text ul li.year::after {
    content: '';
    width: 20px;
    height: 20px;
    background: url('../img/icon-check.svg') center center / 80% no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

.masterSection .item_wrap .item .content a .text ul li.locate::after {
    content: '';
    width: 20px;
    height: 20px;
    background: url('../img/icon-marker.svg') center center / 80% no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

.masterSection .item_wrap .item .content .btn {
    width: 56.85%;
    margin: 20px auto;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    font-size: 16px;
}

.masterSection .item_wrap .item .content .btn:hover {
    background-color: var(--mainColor);
    color: #fff;
}

.masterSection .item_wrap .item .content .btn a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 40px;
}

/* banner */
.banner {
    margin-bottom: 15rem;
}

.banner .inner {
    max-width: 1920px;
    width: 100%;
}

.banner figure {
    width: 100%;
    max-height: 120px;
    /* height: 9.37vw;  */
}

.banner figure.mobile2 {
    min-width: 49px;
}

.banner figure img {
    width: 100%;
    height: 100%;
}

/* 숨은고수 포트폴리오 */
.portfolio {
    margin-bottom: 15rem;
}

.portfolio .item_wrap {
    display: flex;
    justify-content: space-between;
}

.portfolio .item_wrap .item {
    width: 11.71%;
    height: 400px;
    border-radius: 25px;
    overflow: hidden;

}

.portfolio .item_wrap .item a::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.portfolio .item_wrap .item.active a::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio .item_wrap .item.active {
    width: 58.28%;
    height: 400px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.portfolio .item_wrap .item a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.portfolio .item_wrap .item a figure {
    width: 100%;
    height: 100%;
}

.portfolio .item_wrap .item a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio .item_wrap .item a figure .text {
    width: calc(100% - 10px);
    margin: 0 auto;
    position: absolute;
    top: 70px;
    left: 10px;
    color: #fff;
}
.portfolio .item_wrap .item.active a figure .text {
    width: calc(100% - 10px);
    margin: 0 auto;
    position: absolute;
    top: 70px;
    left: 50px;
    color: #fff;
}

.portfolio .item_wrap .item a figure .text p {
    display: none;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.2;
    word-break: keep-all;
}

.portfolio .item_wrap .item a figure .text h3 {
    line-height: 1.2;
    width: calc(100% - 20px);
    font-size: 2.5rem;
    word-break: keep-all;
}

.portfolio .item_wrap .item a figure .text div {
    display: none;
}

.portfolio .item_wrap .item a figure .text div span {
    font-size: 14px;
}

.portfolio .item_wrap .item.active a figure .text p {
    display: block;
}

.portfolio .item_wrap .item a figure .text h3 {
    margin-bottom: 50px;
}

.portfolio .item_wrap .item.active a figure .text div {
    display: block;
}

.portfolio .item_wrap .item a figure .text div span.person,
.portfolio .item_wrap .item a figure .text div span.locate {
    padding-left: 18px;
    position: relative;
}

.portfolio .item_wrap .item a figure .text div span.person::before {
    content: '';
    width: 16px;
    height: 16px;
    background: url('../img/icon-person-w.svg') center center / 100% no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

.portfolio .item_wrap .item a figure .text div span.locate::before {
    content: '';
    width: 16px;
    height: 16px;
    background: url('../img/icon-marker-w.svg') center center / 100% no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

/* 커뮤니티 */
.community {
    margin-bottom: 15rem;
}

.community .title {
    display: block;
    position: relative;
}

.community .title h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.community .title .nav {
    margin: 0 auto;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.community .title .nav li:first-child a {
    background-color: #DFF4EA;
    color: var(--mainColor);
}

.community .title .nav li:hover a {
    background-color: #DFF4EA;
    color: var(--mainColor);
}

.community .title .nav li a {
    display: block;
    padding: 15px 20px;
    border-radius: 50px;
    background-color: var(--section-navColor);
    font-size: 1.8rem;
}

.community .title .more_btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.community .item_wrap {
    display: flex;
    justify-content: space-between;
}

.community .item_wrap .item {
    width: 31.87%;
    max-height: 400px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
}

.community .item_wrap .item:hover {
    border: 2px solid var(--mainColor);
}

.community .item_wrap .item .content {
    margin: 20px;
}

.community .item_wrap .item a figure {
    /* max-width: 368px; */
    width: 100%;
    max-height: 230px;
    height: 17.96vw;
    margin: 0 auto;
    border-radius: 25px;
    overflow: hidden;
}

.community .item_wrap .item a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community .item_wrap .item a .text {
    margin-top: 30px;
}

.community .item_wrap .item a .text span {
    color: #00A18D;
    font-size: 16px;
}

.community .item_wrap .item a .text h3 {
    margin-top: 15px;
    font-size: 2.2rem;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.community .item_wrap .item a .text p {
    margin-top: 20px;
    color: #666;
    height: 20px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
}

/* story */
.story {
    margin-bottom: 10rem;
}

.story .item_wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.story .item_wrap .item {
    width: 49.06%;
}

.story .item_wrap::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

.story .item_wrap .item:last-child:before {
    display: none;
}

.story .item_wrap .item a .img_box {
    position: relative;
}

.story .item_wrap .item a .img_box figure {
    width: 100%;
    height: 27.34vw;
    max-height: 350px;
}

.story .item_wrap .item a .img_box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story .item_wrap .item a .img_box>span {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #DFF4EA;
    border-radius: 25px;
    font-size: 16px;
}

.story .item_wrap .item a .text {}

.story .item_wrap .item a .text h3 {
    font-size: 2.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.3;
}

.story .item_wrap .item a .text span {
    color: #666;
    font-size: 16px;
}

/* sns */
.sns {
    margin-bottom: 10rem;
}

.sns ul {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.sns ul li {
    width: 60px;
    height: 60px;
    background-color: var(--mainColor);
    border-radius: 50%;
}

.sns ul li a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sns ul li:hover {
    background-color: #005140;
}

.sns ul li a img {
    width: 30px;
}

/* footer */
.footer {
    background-color: var(--mainColor);
    color: #fff;
    font-size: 14px;
}

.footer .footer_top {
    padding: 40px 0;
    text-align: center;
}

.footer .footer_top .footer_logo {
    margin-bottom: 30px;
}

.footer .footer_top .footer_logo img {}

.footer .footer_top .footer_menu {
    display: flex;
    gap: 21px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer li {
    position: relative;
    line-height: 1.2;
}

.footer li::after {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -10px;
}

.footer li:first-child::after {
    display: none;
}

.footer .footer_top .footer_menu li a {}

.footer .footer_top .address {
    display: flex;
    gap: 21px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer .footer_top .rule {
    margin-bottom: 20px;
    word-break: keep-all;
    line-height: 1.2;
}

.footer .footer_top .cs {
    font-size: 16px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer .footer_top .cs li:first-child {
    position: relative;
    padding-left: 25px;
}

.footer .footer_top .cs li:first-child::before {
    content: '';
    width: 18px;
    height: 18px;
    background: url('../img/icon-cs.svg') center center / 100% no-repeat;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.footer .footer_bottom {
    width: 100%;
    height: 40px;
    border-top: 1px solid #fff;
}

.footer .footer_bottom .copyright {
    line-height: 40px;
    text-align: center;
}

@media screen and (max-width: 1370px) {
    .main_visual .left .content h2 {
        word-break: keep-all;
    }

    .main_visual .right .item .content {
        margin: 0 30px;
    }

    .header .left {
        gap: 20px;
    }
}

/* 1370 */

@media screen and (max-width: 1250px) {
    .header .left {
        justify-content: space-between;
    }

    .main_visual .left .content {
        top: 100px;
    }

    .main_visual .left .content h2 {
        margin-bottom: 60px;
    }

    .main_visual .right .item .content {
        margin: 0 25px;
    }

    .main_visual .right .item .content a div {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .main_visual .right .item .content a h3 {
        margin-top: 0px;
    }

    .main_visual .right .item .content a p {
        margin-top: 20px;
    }

    .main_visual .right .item .content a img {
        width: 30px;
    }

    .service .swiper .swiper-slide {
        height: 23.33vw;
    }
}

/* 1250 */

@media screen and (max-width: 1024px) {
    html {
        font-size: 50%;
    }

    .pc {
        display: none;
    }

    .header .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile_nav_btn {
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 100;
    }

    .mobile_nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--mainColor);
        padding: 12rem;
        transition: 0.3s;
    }

    .mobile_nav.on {
        left: 0%;
    }


    .mobile_nav .gnb {}

    .mobile_nav .gnb li {}

    .mobile_nav .gnb li .depth01 {
        display: block;
        font-size: 20px;
        padding: 20px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #fff;
        color: #fff;
    }

    .mobile_nav .gnb li .depth02 {
        display: none;
    }

    .header .left {
        width: 100%;
    }

    .main_nav .inner {
        width: 550px;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 40px;
    }

    .main_nav .inner .item a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_nav .inner .item figure {
        width: 48px;
        height: 48px;
        background-color: #FAFAFA;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }

    .main_nav .inner .item figure img {
        width: 36px;
        margin: auto;
    }

    .main_visual {
        display: block;
        width: calc(100% - 60px);
    }

    .main_visual .left {
        width: 100%;
    }

    .main_visual .left .content {
        top: 50px;
    }

    .main_visual .left .content .search {
        max-width: 650px;
    }

    .main_visual .right {
        width: 100%;
        height: 9.76vw;
        flex-wrap: nowrap;
    }

    .main_visual .right .item {
        width: 25%;
        height: 100%;
    }

    .main_visual .right .item .content {
        margin: auto;
    }

    .main_visual .right .item .content a {
        width: 100%;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }

    .main_visual .right .item .content a h3 {
        margin-top: 0;
    }

    .main_visual .right .item .content a p {
        display: none;
    }

    .main_visual .right .item .content a img {
        width: 25px;
    }

    .guide .content .item {
        height: 44.33vw;
        padding: 3% 0 0;
    }

    .guide .content .item a figure {
        width: 73.92%;
    }

    .guide .content .item a .text h3 {
        display: none;
    }

    .service .swiper-slide:hover a .people {
        border: 2px solid var(--section-navColor);
        border-top: 0;
    }

    .service .swiper-slide:hover a .img_box figure {
        transform: scale(1);
    }
    
    .masterSection .item_wrap .item .content a .text h3::after {
        opacity: 1;
    }
    .masterSection .item_wrap .item:hover {
        border: 2px solid transparent;
    }
    
    .masterSection .item_wrap .item:hover .content a figure img {
        transform: scale(1);
        transition: 0.5s;
    }
    .masterSection .item_wrap .item .content .btn {
        background-color: var(--mainColor);
        color: #fff;
    }

    .masterSection .item_wrap .item:last-child {
        display: none;
    }

    .masterSection .item_wrap .item {
        width: 32%;
    }

    .masterSection .item_wrap .item.pay .content a figure::before {
        right: 50%;
        top: auto;
        bottom: 15px;
        transform: translateX(50%)
    }

    .masterSection .item_wrap .item .content a .text ul li {
        font-size: 14px;
    }

    .portfolio .item_wrap .item:nth-child(3) {
        display: none;
    }

    .portfolio .item_wrap .item:nth-child(4) {
        display: none;
    }

    .portfolio .item_wrap .item {
        width: 49%;
    }

    .portfolio .item_wrap .item a figure .text {
        left: 40px !important;
        top: 40px;
        width: calc(100% - 80px);
    }

    .portfolio .item_wrap .item a figure .text p {
        display: block;
        font-size: 16px;
    }

    .portfolio .item_wrap .item a figure .text div {
        display: block;
    }

    .community .item_wrap .item {
        width: 49%;
    }

    .community .item_wrap .item a figure {
        height: 22.5vw;
    }

    .community .item_wrap .item:last-child {
        display: none;
    }

    .community .item_wrap .item a .text h3 {
        font-size: 18px;
    }
    .community .item_wrap .item:hover {
        border: 2px solid transparent;
    }
    .sns ul li:hover {
        background-color: var(--mainColor);
    }
}

/* 1024 */

@media screen and (max-width: 900px) {
    .community .title .more_btn {
        display: none;
    }

    .community .more_btn.btn_bottom {
        display: block;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

}

@media screen and (max-width: 767px) {
    .main_visual .left figure img.mobile {
        display: none;
    }

    .main_visual .left figure img.mobile2 {
        display: block;
    }

    .main_visual .right {
        flex-wrap: wrap;
        height: 26.07vw;
    }

    .main_visual .right .item {
        width: 50%;
        height: 50%;
    }

    .main_visual .left .content h2 {
        margin-bottom: 50px;
    }

    .main_visual .left .content .search img {
        width: 25px;
    }

    .main_visual .left .content .search input {
        padding: 0 40px;
    }

    .service .swiper .swiper-slide {
        height: 32vw;
    }


    .masterSection .nav {
        gap: 10px;
    }

    .masterSection .item_wrap .item:nth-child(3) {
        display: none;
    }

    .masterSection .item_wrap .item {
        width: 48.5%;
    }

    .community .title .nav {
        gap: 10px;
    }

    .sns ul li {
        width: 40px;
        height: 40px;
    }

    .sns ul li a img {
        width: 23px;
    }
}

/* 767 */
@media screen and (max-width: 640px) {
    .main_nav .inner {
        width: calc(100% - 60px);
        row-gap: 25px;
        column-gap: 30px;
        justify-content: center;
    }

    .main_visual .left .content .search {
        height: 40px;
    }

    .guide .content {
        display: block;

    }

    .guide .content .item {
        width: 100%;
        padding: 3%;
        padding-bottom: 0;
    }

    .guide .content .item a {
        flex-direction: row;
        align-items: flex-end;
    }

    .guide .content .item .text {
        width: 55%;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        order: 2;
    }

    .guide .content .item a .text .text_box img {
        display: none;
    }

    .guide .content .item a .text .text_box strong {
        position: static;
    }

    .guide .content .item a figure {
        width: 45%;
        height: 92%;
    }

    .guide .content .item.master {
        margin-top: 10px;
    }

    .guide .content .item.master .text {
        width: 55%;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        order: 0;
    }

    .guide .content .item.master a .text .text_box strong {
        color: var(--mainColor);
    }

    .community .item_wrap .item .content {
        margin: 15px;
    }

    .story .item_wrap .item a .text h3 {
        white-space: wrap;
    }

    .footer .footer_top .footer_menu,
    .footer .footer_top .address {
        flex-direction: column;
        gap: 5px;
    }

    .footer .footer_top .address {
        margin-bottom: 15px;
    }

    .footer .footer_top .cs {
        font-size: 15px;
        flex-direction: column;
        gap: 10px;
    }

    .footer .footer_top .cs li:first-child {
        padding-left: 18px;
    }

    .footer .footer_top .cs li:first-child::before {
        width: 14px;
        height: 14px;
    }

    .footer li::after {
        display: none;
    }

    .sns ul {
        gap: 20px;
    }
}

/* 640 */
@media screen and (max-width: 540px) {
    .mobile_nav_btn a img {
        width: 30px;
    }

    .main_nav .inner {
        width: 323px;
        row-gap: 15px;
        column-gap: 30px;
        justify-content: center;
    }

    .main_visual .left .content h2 {
        margin-bottom: 20px;
    }

    .service .swiper .swiper-slide {
        height: 44vw;
    }

    .masterSection .nav {
        gap: 20px;
    }

    .masterSection .nav li {
        position: relative;
    }

    .masterSection .nav li::before {
        content: '';
        width: 2px;
        height: 2px;
        background-color: #333;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;
    }

    .masterSection .nav li:first-child::before {
        display: none;
    }

    .masterSection .nav li a {
        background-color: transparent;
        padding: 0;
    }

    .masterSection .nav li:first-child a {
        background-color: transparent;
        position: relative;
    }

    .masterSection .nav li:first-child a::before {
        content: '';
        width: 100%;
        height: 7px;
        background-color: #CFF3E9;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .masterSection .item_wrap {
        display: block;
    }

    .masterSection .item_wrap .item {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 15px;
    }

    .masterSection .item_wrap .item .content {
        margin: auto;
        text-align: left;
    }

    .masterSection .item_wrap .item .content a {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .masterSection .item_wrap .item .content a figure {
        width: 25%;
    }

    .masterSection .item_wrap .item .content .btn {
        display: none;
    }

    .masterSection .item_wrap .item .content a .text {
        width: 72%;
        margin: 0;
    }

    .masterSection .item_wrap .item:nth-child(3) {
        display: block;
    }

    .masterSection .item_wrap .item .content a .text h3::after {
        height: 8px;
    }

    .more_btn span {
        display: none;
    }

    .banner .mobile {
        display: none;
    }

    .banner .mobile2 {
        display: block;
    }

    .portfolio .item_wrap {
        display: block;
    }

    .portfolio .item_wrap .item {
        width: 100%;
        margin-bottom: 15px;
        height: 72.22vw;
    }

    .portfolio .item_wrap .item a figure .text div span.person::before,
    .portfolio .item_wrap .item a figure .text div span.locate::before {
        width: 14px;
        height: 14px;
    }

    .community .item_wrap .item:last-child {
        display: block;
    }

    .community .title .nav {
        display: none;
    }

    .community .item_wrap {
        display: block;
    }

    .community .item_wrap .item {
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
    }

    .community .item_wrap .item .content {
        margin: 0;
    }

    .community .item_wrap .item .content a {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .community .item_wrap .item a figure {
        width: 25%;
        min-width: 90px;
        min-height: 90px;
        margin: 0;
        border-radius: 10px;
        height: 20vw;
        max-height: 110px;
    }

    .community .item_wrap .item a .text {
        width: 72%;
        margin-top: 0;
    }

    .community .item_wrap .item a .text p {
        display: none;
    }

    .community .more_btn span {
        display: block;
    }

    .community .item_wrap .item a .text h3 {
        white-space: wrap;
        line-height: 1.3;
    }

    .story .item_wrap::before {
        display: none;
    }

    .story .item_wrap .item:last-child {
        display: none;
    }

    .story .item_wrap .item {
        width: 100%;
    }

    .story .item_wrap .item a .img_box figure {
        height: 55.55vw;
    }


}

/* 540 */
@media screen and (max-width: 480px) {
    html {
        font-size: 37.5%;
    }

    .main_visual .left .content .search {
        width: 76.92%;
        height: 35px;
    }

    .main_nav .inner .item p {
        font-size: 14px;
    }

    .main_visual .left .content h2 {
        font-size: 20px;
    }

    .guide .content .item {
        height: 40vw;
    }

    .guide .content .item a figure {
        height: 98%;
    }

    .guide .content .item a .text .text_box strong {
        font-size: 15px;
    }

    .service .swiper-button-next,
    .service .swiper-button-prev {
        width: 40px;
        height: 40px;
        background-size: 30px;
    }

    .service .swiper-button-next {
        right: -20px;
    }

    .service .swiper-button-prev {
        left: -20px;
    }

    .service .swiper-slide a .img_box strong {
        font-size: 16px;
    }

    .service .swiper-slide a .people p {
        font-size: 14px;
    }

    .masterSection .nav li a {
        font-size: 14px;
    }

    .masterSection .item_wrap .item.pay .content a figure::before {
        width: 20px;
        height: 20px;
        bottom: auto;
        top: 4px;
        right: 4px;
        transform: translateX(0);
        background-image: url('../img/숨고페이.svg');
    }

    .masterSection .item_wrap .item .content a .text h3 {
        font-size: 16px;
    }

    .masterSection .item_wrap .item .content a {
        gap: 15px;
    }


    

    .portfolio .item_wrap .item a figure .text h3 {
        font-size: 18px;
    }

    .community .item_wrap .item .content a {
        gap: 15px;
    }

    .story .item_wrap .item a .text h3 {
        font-size: 16px;
    }

    .story .item_wrap .item a .text span {
        font-size: 14px;
    }

    .story .item_wrap .item a .text h3 {
        margin: 10px auto;
    }

    .sns ul {
        gap: 15px;
    }

    .footer .footer_top {
        padding: 30px 0;
    }

    .footer .footer_top .footer_logo {
        margin-bottom: 18px;
    }

    .footer .footer_top .footer_menu,
    .footer .footer_top .address,
    .footer .footer_top .rule,
    .footer .footer_bottom .copyright {
        font-size: 12px;
    }

    .footer .footer_bottom {
        height: 20px;
    }

    .footer .footer_bottom .copyright {
        line-height: 20px;
    }

    .footer .footer_top .cs {
        font-size: 13px;
    }

    .footer .footer_top .cs li:first-child::before {
        width: 12px;
        height: 12px;
    }
}

/* 480 */
@media screen and (max-width: 390px) {
    main .inner {
        max-width: 1280px;
        width: calc(100% - 50px);
        margin: 0 auto;
    }

    .main_visual {
        width: 100%;
    }

    .main_visual .left .content {
        top: 30px;
    }

    .main_visual .left .content h2 {
        padding: 0 70px;
    }

    .main_visual .right .item .content a img {
        width: 20px;
    }

    .service .swiper .swiper-slide {
        height: 48vw;
    }

    .masterSection .nav {
        gap: 15px;
    }

    .masterSection .item_wrap .item .content a .text ul li.year::after, 
    .masterSection .item_wrap .item .content a .text ul li.locate::after {
        width: 15px;
        height: 15px;
        background-size: 100%;
    }

    .story .item_wrap .item a .img_box>span {
        padding: 8px 16px;
    }

    .footer_top .cs li {
        word-break: keep-all;
    }

}

    
@media screen and (max-width: 370px) {
    .main_nav .inner {
        width: 310px;
        gap: 25px;
    }
    .main_nav .inner .item figure {
        width: 40px;
        height: 40px;
    }

    .main_nav .inner .item figure img {
        width: 26px;
    }

    .main_nav .inner .item p {
        font-size: 13px;
    }

    .main_visual .left .content {
        top: 15px;
    }

    .main_visual .left .content h2 {
        padding: 0 52px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .main_visual .left .content .search {
        width: 90%;
        height: 30px;
    }

    .main_visual .left .content .search img {
        width: 20px;
    }

    .main_visual .left .content .search input {
        padding: 0 30px;
    }

    .main_visual .right .item .content a h3 {
        font-size: 16px;
    }

    .masterSection .item_wrap .item .content a .text ul li {
        font-size: 13px;
    }

    .masterSection .item_wrap .item .content a .text ul li.year::after, .masterSection .item_wrap .item .content a .text ul li::after {
        display: none;
    }

    .masterSection .item_wrap .item .content a .text ul li {
        padding-left: 0;
    }

    .masterSection .item_wrap .item .content a .text h3 {
        font-size: 15px;
    }

    .masterSection .nav {
        display: none;
    }

    .community .item_wrap .item a .text {
        width: 100%;
    }

    .community .item_wrap .item a .text span {
        font-size: 13px;
    }

    .community .item_wrap .item .content a {
        gap: 10px;
    }

    .community .item_wrap .item a .text h3 {
        font-size: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .community .item_wrap .item a figure {
        display: none;
    }

    .community .item_wrap .item a .text p {
        display: block;
        margin-top: 10px;
        font-size: 13px;
    }

    .community .more_btn span {
        font-size: 14px;
    }
    .community .more_btn.btn_bottom {
        margin-top: 15px;
    }

    .story .item_wrap .item a .text h3 {
        font-size: 15px;
    }

    .story .item_wrap .item a .text span {
        font-size: 13px;
    }

    .story .item_wrap .item a .img_box>span {
        font-size: 14px;
    }

}